[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cookiecutter-data-science = "*"
feedparser = "*"
pandas = "*"
aiohttp = "*"
beautifulsoup4 = "*"
python-dotenv = "*"
chromadb = "*"
sentence-transformers = "*"
ipywidgets = "*"
numpy = "*"
scikit-learn = "*"
plotly = "*"
certifi = "*"
textacy = "*"

[dev-packages]
ipykernel = "*"
nbformat = "*"

[requires]
python_version = "3.12"
